<script src="//cdn.optimizely.com/js/146312396.js"></script>
<!-- PARA ESCONDER OBJETOS EN MEDIAS O EN GENRAL ES hidden-xs COMO CLASE. HABIA UNO JUNTO A bg-main -->
  <div class="bg-main">
  
          <div style="display: block; background-image: url(&quot;http://imageshack.com/a/img922/6182/u5STDt.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="http://imageshack.com/a/img922/6182/u5STDt.png"></div> -->
      </div>
        

<header id="js-navbar" class="navbar navbar-default navbar-fixed-top navbar-semi-transparent navbar-highlight-aquamarine" role="banner">
    <div class="container">
    <div class="navbar-header">

              <button type="button" class="navbar-toggle collapsed" data-toggle="sidepanel" data-target="#navbar-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
            <a href="https://www.spotify.com/login?continue=https%3A%2F%2Fwww.spotify.com%2Fmx%2Faccount%2Foverview%2F" class="user-link hidden ">
          
    <div class="user-icon-container img-circle navbar-user-img">
      <svg class="user-icon">
        <use xlink:href="#user-icon">
      </use></svg>
    </div>

  
      </a>
      <a class="navbar-brand" href="http://localhost:3000/">
        <span class="navbar-logo">Noblidream</span>
      </a>
    </div>
          <nav class="collapse navbar-collapse" id="navbar-nav" role="navigation">
        
<ul class="nav navbar-nav navbar-right nav-main">

    
    <li class="hidden ">
    <a href="/mx/explore/" id="nav-link-Explore" data-ga-category="menu" data-ga-action="Explore">
      Explore
                </a>
  </li>


        <li>
    <a href="/mx/premium/?checkout=false" id="nav-link-premium" data-ga-category="menu" data-ga-action="premium">
      Sueño Nuevo
                </a>
  </li>

  
   <!-- <li>
    <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_header" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      Ayuda
                </a>
  </li> -->


  
  <li role="separator" class="divider"></li>

  
  
      
    <li class="alternate sidepanel-item-small ">
    <a href="http://localhost:3000/registration/selection" id="nav-link-sign_up" data-ga-category="menu" data-ga-action="sign_up">
      Regístrate
                </a>
  </li>

  <li class="alternate sidepanel-item-small">
    <a href="https://www.spotify.com/login?continue=https%3A%2F%2Fwww.spotify.com%2Fmx%2Faccount%2Foverview%2F" id="header-login-link" class="user-link ">
          <span class="user-text navbar-user-text">Inicio de sesión</span>

    </a>
  </li>
  </ul>
      </nav>
      </div>
</header>




<!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
<div class="jumbotron jumbotron-albums jumbotron-hero h-ini">
  <div style="background-image: url(&quot; &quot;); display: block; " class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
    <div class="container">
        <div id="carousel-tour" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
                          <li data-target="#carousel-tour" data-slide-to="0" class="active js-button-hero-carousel-dots"></li>
                          <li data-target="#carousel-tour" data-slide-to="1" class="js-button-hero-carousel-dots"></li>
                          <li data-target="#carousel-tour" data-slide-to="2" class="js-button-hero-carousel-dots"></li>
                      </ol>
          <!-- Wrapper for slides -->
<div style="height: 532px;" class="carousel-inner" role="listbox">
  <div style="margin-top: 120px; margin-bottom: 120px;" class="item active">
    <h1>
      <span class="text-white">
                  Sueños que cambian la vida.
      </span>
    </h1>
    <a href="http://localhost:3000/pages/dreams" class="btn btn-solid3 js-goto-signup js-button-hero-get-free" data-tracking="{&quot;category&quot;: &quot;download&quot;, &quot;action&quot;: &quot;download start&quot;, &quot;label&quot;: &quot;download-home-hero-carousel&quot;}">
            ELEGIR SUEÑO
    </a>
   


 <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/EUOFR7R0ric" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>


  </div>
                  <div style="" class="item">
    <h1>
      <span class="text-white">
        Consigue tu sueño, consigue tu vida<br>
      </span>
    </h1>
    <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/EUOFR7R0ric" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>
  </div>

                            <div style="margin-top: 60px; margin-bottom: 60px;" class="item">
    <h1>
      <span class="text-white">
                Confia en tu pasion, logra tus sueños.
      </span>
    </h1>
    <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/EUOFR7R0ric" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>
  </div>

                      </div>

          <!-- Controls -->
          <a class="left carousel-control js-button-hero-carousel-left-arrow" href="#carousel-tour" data-slide="prev">
            <span class="icon-prev"></span>
            <span class="sr-only">
                            Anterior
            </span>
          </a>
          <a class="right carousel-control js-button-hero-carousel-right-arrow" href="#carousel-tour" data-slide="next">
            <span class="icon-next"></span>
            <span class="sr-only">
                            Siguiente
            </span>
          </a>
        </div>
          </div>
  </div>

  <div class="container">
      <a class="btn-scroll btn-scroll-aquamarine" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
          <span class="btn-scroll-text btn-scroll-text-above">CONOCE NOBLIDREAM</span>
      </a>

  </div>

  <div class="jumbotron jumbotron-whats-on bg-white">
    <div class="container altura">
      <div class="row">
        <div class="col-sm-7 col-sm-push-5 col-md-5 col-md-push-7">
          <h2 class="text-klein-purple animated animatedFadeInUp">
                        ¿Qué encuentras en Noblidream?
          </h2>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Sueños
            </h3>
            <p>
                            Noblidream logra que el cumplir sueños sea alcanzable. Encuentra el tuyo, descubre nuevos sueños, cumple las metas y hazlos realidad.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Motivacion y apoyo
            </h3>
            <p>
                            Disfruta de las historias, videos y frases que te motivaran a cumplir tu sueño.
                            Reuniones y nuevas amistades con personas con sueños como tu. 
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Grandes sueños
            </h3>
            <p>
                            Mas ayuda, cada dia logramos que cumplir tus sueños sea mas sencillo, incluso los mas complicados, descubre las historias de algunos soñadores y motivate a lograr los tuyos. 
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-5">
           <!-- UI # -->
        <div class="ui-159">
        
            <!-- All -->
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'emprendedor.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Crear mi propio negocio</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'viajar1_recortado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Viajar por el mundo</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_deportista_profesional.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser deportista profesional</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_independiente_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser alguien independie<br>nte</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_un_buen_lider_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser un buen lider</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'encontrar_mi_mayor_pasion_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Encontrar mi mayor pasion</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'comprar_portada1.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Comprar algo que siempre desee</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'amor_portada9.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Encontrar el amor</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'habilidad_portada3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Aprender una habilidad nueva</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'amistad_portada3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener nuevos amigos</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'auto_nuevo_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener un auto nuevo</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'felicidad_plena.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser mas feliz</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div> 
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'tiempo_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener mas tiempo libre</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'aurora_boreal_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ver una aurora boreal</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
              <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ayudar_a_alguien_que_me_necesite_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ayudar a alguien que me necesite</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
              <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'salud.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener una buena salud</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'mundial_futbol_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ir al mundial</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'familia_casa_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener una gran casa nueva</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_mejor_persona_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                               <h6>Ser una mejor persona</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                                </a>
                            </div>
                </div>
            </div> 
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'poder_volar.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                               <h6>Poder volar</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                    </a>
                    </div>
                </div>
                <!-- Links -->
            </div>
        </div> 
<script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i").removeClass("active");
                });
                
            });

            $.each($('div[id^=map]'), function(){
            loadMap($(this).attr('id'), 12);
          }) 
       <!--$('.ui-i.active').length -->
        </script>
        </div>
      </div>
    </div>
  </div>





  <div class="container">
      <a class="btn-scroll btn-scroll-aquamarine pull-left hidden-xs" name="a-few-features" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
      </a>

  </div>

  <div class="jumbotron jumbotron-albums jumbotron-unique">
  <!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
          <div style="background-image: url(&quot;&quot;); display: block;" class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
        <div class="container">
      <div class="row">
        <div class="col-sm-4 text-left text-white">
          <div class="animated animatedFadeInUp">
            <h2>
                            Empieza.
            </h2>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Metas
            </h3>
            <p>
                            ¿Ya creaste tu sueño?  Se te enviara las primeras opciones y metas que mas te convengan, de las cuales podras seleccionar tantas como quieras.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Plan
            </h3>
            <p>
                            De acuerdo a tus metas seleccionadas se te creara un plan de acciones con soluciones para tu sueño.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Ahorro
            </h3>
            <p>
                            De acuerdo a tu plan elegido podras empezar a ahorrar para cumplir tu sueño, se te otorgaran metas de ahorro y tu decidiras cuanto es lo que puedes ahorrar para tu sueño.
            </p>
          </div>
        </div>
          <div class="row">


 <div style="margin-left: 50%">
  <h2 class="text-white">La vida es un sueño,<br> ¿En que quieres <span class="text-aquamarine" style="font-weight: 700">ACTUAR</span> hoy?</h2>
    <div id="wrapper">
      <div id="inner" class="horizontal">
        <div id="carousel">
        <div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'juegos_olimpicos_tokyo2020.jpg', :class => 't1' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'mundial_futbol_pre.jpg', :class => 't2' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'comprar_portada1.jpg', :class => 't3' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_independiente_pre.jpg', :class => 't4' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_un_buen_lider_pre.jpg', :class => 't5' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'encontrar_mi_mayor_pasion_pre.jpg', :class => 't6' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'habilidad_portada3.jpg', :class => 't7' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'exito_laboral.jpg', :class => 't8' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'amor_portada9.jpg', :class => 't9' %></a>
            </div>

          </div>
          <div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'tiempo_portada.jpg', :class => 't1' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'superbowl.jpg', :class => 't2' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'aprender_mas_sobre_personalidad.png', :class => 't3' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'aurora_boreal_pre.jpg', :class => 't4' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ayudar_a_alguien_que_me_necesite_pre.jpg', :class => 't5' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_mejor_persona_pre.jpg', :class => 't6' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'inversionista.jpg', :class => 't7' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'ser_inventor.jpg', :class => 't8' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'visitar_otro_planeta.jpg', :class => 't9' %></a>
            </div>
          </div>
          <div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'poder_volar.jpg', :class => 't1' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'viajar1.jpg', :class => 't2' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'emprendedor.jpg', :class => 't3' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'familia_casa_portada.jpg', :class => 't4' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'auto_nuevo_portada.jpg', :class => 't5' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'gaming.jpg', :class => 't6' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'felicidad_plena.jpg', :class => 't7' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'salud.jpg', :class => 't8' %></a>
            </div>
            <div>
            <a href="http://localhost:3000/pages/dreams">
                    <%= image_tag 'amistad_portada3.jpg', :class => 't9' %></a>
            </div>
          </div>
          
      </div>
      <a href="#" id="left"></a>
      <a href="#" id="right"></a>
      <!--<a href="#" id="up"></a>
      <a href="#" id="down"></a> -->
    </div>
  </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
		


    <div class="ui-171", style="z-index: 99;">
      <!-- Outer Starts -->
      <div class="ui-outers">
        <!-- Tab Content -->
        <div class="tab-content">
          <!-- Tab Panes -->
          <!-- Image One -->
        <div class="tab-pane fade in active" id="img-one">
           <%= image_tag 'viajar2_b.jpg', :class => 'img-responsive' %></div>
          <!-- Image Two -->
          <div class="tab-pane fade" id="img-two"><%= image_tag '2.jpg', :class => 'img-responsive' %></div>
          <!-- Image Three -->
          <div class="tab-pane fade" id="img-three"><%= image_tag '3.jpg', :class => 'img-responsive' %></div>
          <!-- Image Four -->
          <div class="tab-pane fade" id="img-four"><%= image_tag '4.jpg', :class => 'img-responsive' %></div>
          <!-- Image Five -->
          <div class="tab-pane fade" id="img-five"><%= image_tag '5.jpg', :class => 'img-responsive' %></div>
          <!-- Image Six -->
          <div class="tab-pane fade" id="img-six">n<%= image_tag '6.jpg', :class => 'img-responsive' %></div>
          <!-- Image Seven -->
          <div class="tab-pane fade" id="img-seven"><%= image_tag '7.jpg', :class => 'img-responsive' %></div>
          <!-- Image Eight -->
          <div class="tab-pane fade" id="img-eight"><%= image_tag '8.jpg', :class => 'img-responsive' %></div>
          <!-- Image Nine -->
          <div class="tab-pane fade" id="img-nine"><%= image_tag '9.jpg', :class => 'img-responsive' %></div>
          <!-- Image Ten -->
          <div class="tab-pane fade" id="img-ten"><%= image_tag '10.jpg', :class => 'img-responsive' %></div>
        </div>



        <!-- Inner -->
        <div class="ui-inner">
          <!-- Heading -->
          <h3 class="text-klein-purple">¿Que tan bien conoces tus sueños?</h3>
          <!-- Nav Tabs -->
          <div class="ui-nav">

            <!-- Nav Tab One -->
  <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-one" class="ui-item"  data-toggle="tab">
            <%= image_tag 'viajar1.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Viajar por el mundo</span>
              <!-- Designation -->
              <span class="ui-desig">Cumplir mi sueño</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
  
            <!-- Nav Tab Two -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-two" class="ui-item"  data-toggle="tab">
            <%= image_tag '2-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Three -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-three" class="ui-item"  data-toggle="tab">
            <%= image_tag '3-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Four -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-four" class="ui-item"  data-toggle="tab">
            <%= image_tag '4-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Five -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-five" class="ui-item"  data-toggle="tab">
            <%= image_tag '5-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Six -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-six" class="ui-item"  data-toggle="tab">
            <%= image_tag '6-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Seven -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-seven" class="ui-item"  data-toggle="tab">
            <%= image_tag '7-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Eight -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-eight" class="ui-item"  data-toggle="tab">
            <%= image_tag '8-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Nine -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-nine" class="ui-item"  data-toggle="tab">
            <%= image_tag '9-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Ten -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-ten" class="ui-item"  data-toggle="tab">
            <%= image_tag '10-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Software Engineer</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
                 <!-- Google-Plus -->
                <i class="fa fa-google-plus google-plus"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            
          </div>
        </div>
      </div>
      <!-- Outer Ends -->
    </div>
    <!-- UI - X Ends -->
		<script>
			<!-- Owl Carousel -->
			$(document).ready(function() {
				$(".ui-nav").owlCarousel({
					items : 6      // Number of Items to display at a time
				});
			});
		</script>


<!--..........INICIA SECCION DE SUEÑOS NOBLES Y FAVORITOS-->

  <div class="jumbotron jumbotron-albums jumbotron-unique">
  <!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
  <div style="background-image: url(&quot;&quot;); display: block;" class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
    <div class="container">
       <div class="row">

<!-- UI # -->
    <div class="ui-99">
    
      <div class="container">
      <h2 class="text-white">Nuestros sueños favoritos</h2>
        <!-- Team -->
        <div class="row">
          <div class="col-md-6">
            <!-- Team #2 member -->
            <div class="team-member">
              <!-- Image -->
              <a href="#" class="ui-trigger"><%= image_tag '1b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener una casa en Chapala</span>
                <!-- Name -->
                <h4 class="text-aquamarine">Enrique Avelar</h4>
                <!-- Para -->
                <p class="text-white">Lo que yo deseo es vivir tranquilo en un hogar relajado con el amor de mi vida.</p>
                <!-- Social -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Team #2 member -->
            <div class="team-member">
              <!-- Image -->
             <a href="#" class="ui-trigger"><%= image_tag '2b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener mi PC gamer</span>
                <!-- Name -->
                <h4 class="text-aquamarine">Julio Solano</h4>
                <!-- Para -->
                <p class="text-white">Amo los videojuegos, ahora acepto el reto de hacerlos mi forma de vida y trabajo.</p>
                <!-- Social -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      
        <!-- Team -->
        <div class="row">
          <div class="col-md-6">
            <!-- Team #2 member -->
            <div class="team-member">
              <!-- Image -->
              <a href="#" class="ui-trigger"><%= image_tag '3b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener un auto que me genere ingresos</span>
                <!-- Name -->
                <h4 class="text-aquamarine">Moises Nahum</h4>
                <!-- Para -->
                <p class="text-white">"Encontre un aliado cuando lo demas me habia fallado. Pero aunque des 1 paso atras recuerda dar 2 para adelante"</p>
                <!-- Social -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Team #2 member -->

            
            <div class="team-member">
              <!-- Image -->
              <a href="#" class="ui-trigger"><%= image_tag '4b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Empezar mi empresa de belleza</span>
                <!-- Name -->
                <h4 class="text-aquamarine">Angelica Vanessa</h4>
                <!-- Para -->
                <p class="text-white">"Me encanta vender y me ha sido muy divertido el poner mi negocio."</p>
                <!-- Social -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <h3 class="text-white">Proximamente conoceras mas sobre las historias detras del sueño</h3>
        </div>
      </div>
    
    </div>
      </div>
    </div>
  </div>
<!-- FIN DE SECCION DE SUEÑOS NOBLES Y FAVORITOS -->

<div class="container">
      <a class="btn-scroll btn-scroll-aquamarine pull-left hidden-xs" name="go-get-the-music" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
      </a>

  </div>

  <div class="jumbotron jumbotron-albums jumbotron-subscriptions">
  <!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
  <!-- imagen trasera tambien afecta aqui -->
  <div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#38adf8 0,#180d7e 100%);" data-original=""></div>
        <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h1>
                  <span class="text-white">
                                        Esta a tu alcance
                  </span>
                </h1>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte.
                </p>
              </div>
            </div>
          </div>

            <div class="col-sm-6 mrtop">
              <div class="animated animatedFadeInUp">
                <h3 class="price-title text-aquamarine">Sueños Unicos</h3>

                <div class="clearfix"></div>
                <ul class="details-subscriptions text-white text-left">
                  <li>
                                        Hay quienes desafian sus limites y se ponen a la tarea el lograr los sueños mas increibles y probablemte unicos en el mundo. Si tienes un sueño asi añadelo y te ayudaremos a lograrlo. </li>
                </ul>
              </div>


              <div class="animated animatedFadeInUp">
                <h3 class="price-title text-aquamarine">
                                     Sueños Nobles
                </h3>

                <div class="clearfix"></div>

                                      
                                  </div>
                <ul class="details-subscriptions text-white text-left">
               <li>
                    Noblidream nacio con el fin social de apoyar a todos a vivir vidas grandiosas y compartir esperanza.
                                        Noblidream fue creada para que vivas la vida que tu has diseñado y ayudes a los demas a lograrlo tambien.Te dejamos en tus manos nuestro trabajo y que lo aproveches tanto como los demas. 
                  </li>
                </ul>
              </div>




<!-- UI - X Starts -->
    <div class="ui-48">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12">
            <!-- Item Starts -->
            <div class="ui-item">
              <!-- Company Name -->
              <h2 class="stblue">Ventajas de Noblidream para tu sueño</h2>

              <!-- Report Starts -->
              <div class="ui-report">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-right">
                        <!-- Big Heading -->
                        <h4>Ahorra hasta:</h4>
                        <h3 class="nblue">780 Hrs</h3>
                        <!-- Heading -->
                        <h4>de tu tiempo por sueño</h4>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item">
                        <!-- Big Heading -->
                        <h4>Ahorra hasta:</h4>
                        <h3 class="nblue">80%</h3>
                        <!-- Heading -->
                        <h4>de tu dinero por sueño</h4>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-right bor-bottom">
                        <!-- Big Heading -->
                        <h3 class="nblue">35 Hrs</h3>
                        <!-- Heading -->
                        <h4>Es el promedio actual de ahorro por sueño</h4>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-bottom">
                        <!-- Big Heading -->
                        <h3 class="nblue">7%</h3>
                        <!-- Heading -->
                        <h4>Es el promedio actual de dinero ahorrado por sueño</h4>
                      </div>
                    </div>
                   <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
 
                      <div class="r-item bor-right bor-bottom">
  
                        <h3 class="nblue">2.4 %</h3>

                        <h4>Probabilidad de que una persona cumpla "Su sueño de vida" sin Noblidream</h4>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">

                      <div class="r-item bor-right bor-bottom">

                        <h3 class="nblue">96.8 %</h3>

                        <h4>Probabilidad de que una persona con Noblidream cumpla "Un sueño"</h4>
                      </div>
                    </div>
                    -->
                  </div>
                </div>
              </div>
              <!-- <div class="ui-contact text-left">

                <div class="ui-details clearfix">

                  <i class="fa fa-home"></i>

                  <span>
                    #46/4, Hosapalya, Muneshwara Nagar, 
                    Bengaluru, Karnataka - 560068
                  </span>
                </div>

                <div class="ui-details clearfix">

                  <i class="fa fa-phone"></i>

                  <span>080 4120 1512</span>
                </div>

                <div class="ui-details clearfix">

                  <i class="fa fa-envelope"></i>

                  <span><a href="#">lorem@yahoo.com</a></span>
                </div>  

                <div class="ui-details clearfix">
 
                  <i class="fa fa-globe"></i>

                  <span><a href="#">newyorklibrary.com</a></span>
                </div>  
              </div> -->
              <div class="ui-social text-center">
               <a href="http://localhost:3000/pages/dreams" class="btn btn-solid js-button-module-get-premium">
                                    ELEGIR SUEÑO
                </a>
              </div>
              <!-- Social Icon Ends -->
            </div>
            <!-- Item Ends -->

          </div>
          </div>
          </div>
        </div>
      </div>
          </div>
  </div>

      </div>

      <footer role="contentinfo" class="footer footer-default footer-highlight-aquamarine">
  <div class="container">
    <nav class="row">

            <div class="col-xs-12 col-md-2">
        <div class="footer-logo">
          <a href="/mx/">Spotify</a>
        </div>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Company</h3>
        <ul class="nav">
          
  <li>
    <a href="/mx/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
      Acerca de
                </a>
  </li>

  <li>
    <a href="/mx/jobs/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
      Empleos
                </a>
  </li>

  <li>
    <a href="https://press.spotify.com/mx/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
      Prensa
                </a>
  </li>

  <li>
    <a href="https://news.spotify.com/mx/" id="nav-link-news" data-ga-category="menu" data-ga-action="news">
      Noticias
                </a>
  </li>

        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Comunidades</h3>
        <ul class="nav">
          
  <li>
    <a href="https://www.spotifyartists.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
      Servicios para artistas
                </a>
  </li>

  <li>
    <a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
      Desarrolladores
                </a>
  </li>

  <li>
    <a href="/mx/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
      Marcas
                </a>
  </li>

        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Enlaces útiles</h3>
        <ul class="nav">
            <li>
    <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      Ayuda
                </a>
  </li>

  <li>
    <a href="/mx/purchase/ecards/" id="nav-link-gift" data-ga-category="menu" data-ga-action="gift">
      Regalo
                </a>
  </li>

    <li class="hidden-xs ">
    <a href="/mx/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
      Reproductor web
                </a>
  </li>

        </ul>
      </div>

            <div class="col-xs-12 col-md-4 col-social">
        <ul class="nav">
          <li>
  <a href="http://instagram.com/spotify">
    <svg class="social-icon">
      <use xlink:href="#instagram-icon">
    <svg>
    </svg></use></svg><span class="social-text">Instagram</span>
  </a>
</li>
<li>
  <a href="https://twitter.com/spotify">
    <svg class="social-icon">
      <use xlink:href="#twitter-icon">
    <svg>
    </svg></use></svg><span class="social-text">Twitter</span></a>
</li>
<li>
  <a href="https://www.facebook.com/Spotify">
    <svg class="social-icon">
      <use xlink:href="#facebook-icon">
    <svg>
    </svg></use></svg><span class="social-text">Facebook</span>
  </a>
</li>
        </ul>
      </div>
    </nav>

    <nav class="row row-small">
      <div class="col-xs-7 col-md-4 col-md-offset-2">

                <ul class="nav nav-small">
          <li>
            <a href="/mx/legal/">Legal</a>
          </li>
          <li>
            <a href="/mx/legal/privacy-policy/#cookies">Cookies</a>
          </li>
          <li>
            <a id="_bapw-link" href="http://info.evidon.com/pub_info/1120?v=1" target="_blank"><img src="https://cdn.betrad.com/pub/icon1.png" id="_bapw-icon" style="border:0 !important;display:inline !important;vertical-align:middle !important;  margin-top: -2px !important;"> <span>AdChoices</span></a><script>/*<![CDATA[*/(function(){var c=1120,g=1816,b=false,i=document,f=i.getElementById("_bapw-link"),h=(i.location.protocol=="https:"),a=(h?"https":"http")+"://";function e(j){var d=new Image();d.src=a+"l.betrad.com/pub/p.gif?pid="+c+"&ocid="+g+"&i"+j+"=1&r="+Math.random()}f.onclick=function(){e("c");return true};e("i")}());/*]]>*/</script>
          </li>
        </ul>
      </div>

            <div class="col-xs-5 col-md-6 text-right">
                <a class="market" href="/mx/select-your-country/" title="Haz clic para cambiar">
          <div class="media">
            <div class="media-body media-middle">
              México
            </div>
            <div class="media-right media-middle">
              <span class="media-object flag-icon flag-icon-mx"></span>
            </div>
          </div>
        </a>

                <small class="copyright">© 2016 Noblidream AB</small>
      </div>
    </nav>
  </div>
</footer>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
 <symbol id="facebook-icon" viewBox="0 0 448 448">
  <path d="m119.75 242.25v-74h63.75v-54.5q0-46.5 26-72.125t69.25-25.625q36.75 0 57 3v66h-39.25q-21.5 0-29 9t-7.5 27v47.25h73.25l-9.75 74h-63.5v189.75h-76.5v-189.75h-63.75z"></path>
 </symbol>
 <symbol id="twitter-icon" viewBox="0 0 448 448">
  <path d="m27 347.75q8.75 1 19.5 1 56.25 0 100.25-34.5-26.25-0.5-47-16.125t-28.5-39.875q8.25 1.25 15.25 1.25 10.75 0 21.25-2.75-28-5.75-46.375-27.875t-18.375-51.375v-1q17 9.5 36.5 10.25-16.5-11-26.25-28.75t-9.75-38.5q0-22 11-40.75 30.25 37.25 73.625 59.625t92.875 24.875q-2-9.5-2-18.5 0-33.5 23.625-57.125t57.125-23.625q35 0 59 25.5 27.25-5.25 51.25-19.5-9.25 28.75-35.5 44.5 23.25-2.5 46.5-12.5-16.75 24.5-40.5 41.75 0.25 3.5 0.25 10.5 0 32.5-9.5 64.875t-28.875 62.125-46.125 52.625-64.5 36.5-80.75 13.625q-67.75 0-124-36.25z"></path>
 </symbol>
 <symbol id="instagram-icon" viewBox="0 0 448 448">
  <path d="m32 366.75v-285.5q0-20.25 14.5-34.75t34.75-14.5h285.5q20.25 0 34.75 14.5t14.5 34.75v285.5q0 20.25-14.5 34.75t-34.75 14.5h-285.5q-20.25 0-34.75-14.5t-14.5-34.75zm42.749-10.25q0 6.5 4.375 10.875t10.875 4.375h267.25q6.25 0 10.75-4.375t4.5-10.875v-162h-33.75q5 15.75 5 32.75 0 31.5-16 58.125t-43.5 42.125-60 15.5q-49.25 0-84.25-33.875t-35-81.875q0-17 5-32.75h-35.25v162zm72.501-133.25q0 31 22.625 52.875t54.375 21.875q32 0 54.625-21.875t22.625-52.875-22.625-52.875-54.625-21.875q-31.75 0-54.375 21.875t-22.625 52.875zm147.25-90q0 7.25 5 12.25t12.25 5h43.5q7.25 0 12.25-5t5-12.25v-41.25q0-7-5-12.125t-12.25-5.125h-43.5q-7.25 0-12.25 5.125t-5 12.125v41.25z"></path>
 </symbol>
 <symbol id="user-icon" viewBox="0 0 1024 1024">
  <path d="m730.06 679.64q-45.377 53.444-101.84 83.443t-120 29.999q-64.032 0-120.75-30.503t-102.6-84.451q-40.335 13.109-77.645 29.747t-53.948 26.722l-17.142 10.084q-29.747 19.159-51.175 57.729t-21.428 73.107 25.461 59.242 60.754 24.705h716.95q35.293 0 60.754-24.705t25.461-59.242-21.428-72.603-51.679-57.225q-6.554-4.033-18.907-10.84t-51.427-24.453-79.409-30.755zm-221.84 25.72q-34.285 0-67.561-14.873t-60.754-40.335-51.175-60.502-40.083-75.124-25.461-84.451-9.075-87.728q0-64.032 19.915-116.22t54.452-85.964 80.67-51.931 99.072-18.151 99.072 18.151 80.67 51.931 54.452 85.964 19.915 116.22q0 65.04-20.167 130.58t-53.948 116.72-81.426 83.443-98.568 32.268z"></path>
 </symbol>
<symbol id="chevron-down" viewBox="0 0 1024 1024">
  <path class="path1" d="M476.455 806.696l-381.164-381.164q-14.621-14.621-14.621-35.293t14.621-34.789 35.293-14.117 34.789 14.117l342.846 343.35 349.4-349.4q14.621-14.117 35.293-14.117t34.789 14.117 14.117 34.789-14.117 34.789l-381.164 381.164q-19.159 19.159-38.318 19.159t-31.764-12.605z"></path>
</symbol>
<symbol id="scroll-down" viewBox="643.5 386 22.1 21.9">
  <path d="M665.6,396.3c0,0.3-0.1,0.7-0.4,0.9l-9.8,10.4c-0.5,0.5-1.3,0.5-1.7,0l-9.8-10.4c-0.5-0.5-0.5-1.3,0-1.8
    s1.3-0.5,1.7,0l8.9,9.5l8.9-9.5c0.5-0.5,1.3-0.5,1.7,0C665.5,395.6,665.6,396,665.6,396.3z">
  <path d="M665.6,387.3c0,0.3-0.1,0.7-0.4,0.9l-9.8,10.4c-0.5,0.5-1.3,0.5-1.7,0l-9.8-10.4c-0.5-0.5-0.5-1.3,0-1.8
    s1.3-0.5,1.7,0l8.9,9.5l8.9-9.5c0.5-0.5,1.3-0.5,1.7,0C665.5,386.6,665.6,387,665.6,387.3z">
</path></path></symbol>
</svg>
<div id="fb-root"></div>
    
      <div class="wrap">

      <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="checkmark" viewBox="0 0 12 13">
    <path d="M5.450,13.003 C5.190,13.003 4.937,12.905 4.743,12.723 L0.341,8.598 C-0.085,8.198 -0.113,7.524 0.277,7.089 C0.669,6.654 1.329,6.628 1.755,7.024 L5.149,10.205 L10.024,0.579 C10.289,0.056 10.919,-0.150 11.433,0.121 C11.945,0.392 12.146,1.036 11.881,1.559 L6.378,12.426 C6.229,12.722 5.953,12.929 5.632,12.987 C5.571,12.998 5.510,13.003 5.450,13.003 Z"></path>
  </symbol>
  <symbol id="icon-pause" viewBox="0 0 1024 1024">
    <path d="M349.4 895.937h-63.527q-26.218 0-44.872-18.655t-18.655-44.872v-635.273q0-26.218 18.655-44.872t44.872-18.655h63.527q26.218 0 44.872 18.655t18.655 44.872v635.273q0 26.218-18.655 44.872t-44.872 18.655zM730.564 895.937h-63.527q-26.218 0-44.872-18.655t-18.655-44.872v-635.273q0-26.218 18.655-44.872t44.872-18.655h63.527q26.218 0 44.872 18.655t18.655 44.872v635.273q0 26.218-18.655 44.872t-44.872 18.655z"></path>
  </symbol>
  <symbol id="icon-play" viewBox="0 0 1024 1024">
    <path d="M254.109 185.54v658.97q0 30.755 20.167 40.335t48.402-8.067l521.327-319.653q28.234-17.142 28.234-41.847t-28.234-41.847l-521.327-320.158q-28.234-17.142-48.402-7.815t-20.167 40.083z"></path>
  </symbol>
</svg>

<script>
    
      $(document).ready(function(){
        $("a.ui-trigger").click(function(e){
          e.preventDefault();
          $(".ui-outer").fadeIn(400);
        });
        $("a.ui-close").click(function(e){
          e.preventDefault();
          $(".ui-outer").fadeOut(400);
        });
      });
      
    </script>

    